<!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Get Started Now,</h1>
    <p class="h1"> Pick a Plan to Start </p>
    <p class="lead">Try an Plan and get unrestricted access to all our products and features </p>
  </div> -->

  <!-- <div class="container">

    <div role="tabpanel" class="tab-pane">

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center">

                    <div class="price-top">
                        <h3>BASIC</h3>
                        <h1 class="mb-0"><sup>₹</sup>99<span class="h3 ">/month</span></h1>
                    </div>

                    <div class="price-content">

                        <ul class="list-unstyled my-5 text-small text-left">

                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> 5 Books per month </li>
                
                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> Issue book for 7 Days </li>
                
                            <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2"></i> <del> Download PDF </del></li>
                
                            <li class="mb-3 text-muted">
                              <i class="fa fa-times mr-2"></i><del> Download EPUB </del></li>
                
                            <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2 "></i> <del>Purchase book </del></li>
                
                            <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2"></i><del> Unlimited Books </del></li>
                
                          </ul>&nbsp;

                          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center popular">

                    <div class="price-top">
                        <h3>PRO</h3>
                        <h1 class="mb-0"><sup>₹</sup>299<span class="h3">/month</span></h1>
                    </div>

                    <div class="price-content">

                        <ul class="list-unstyled my-5 text-small text-left font-weight-normal">

                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> 10 Books per month </li>
                
                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> Issue book for 14 Days</li>
                            
                            <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Download PDF </li>
                                
                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Download EPUB </li>
                
                            <li class="mb-3 text-muted ">
                                    <i class="fa fa-times mr-2 "></i> <del> Purchase book </del></li>
                
                            <li class="mb-3 text-muted">
                              <i class="fa fa-times mr-2 "></i> <del> Unlimited Books </del></li>
                            
                          </ul>&nbsp;

                          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill" style="background-color: white;">Subscribe</a>
                    </div>
                </div>
            </div>

            
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center">

                    <div class="price-top">
                        <h3>PREMIUM</h3>
                        <h1 class="mb-0"><sup>₹</sup>599<span class="h3 ">/month</span></h1>
                    </div>

                    <div class="price-content">
                        <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i>Unlimited Books per month</li>
                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> Issue book for Month </li>
                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> Download PDF </li>
                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> Download EPUB </li>
                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> Purchase book </li>
                            <li class="mb-3">
                              <i class="fa fa-check mr-2 text-primary"></i> Unlimited Books </li>
                          </ul>&nbsp;

                          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->



<div class="main-content">
<div class="container-fluid">
<div class="row">

<div class="col-md-10 col-md-offset-1">
<div class="card">

<div class="row">

<div class="col-md-8 text-left">
<div class="header">
<h4 class="title">Membership Plan </h4>
</div>
</div>
                        
<div class="col-md-4 text-right">
<div class="header">
<a class="btn btn-black  btn-fill" style="background-color: black;" (click)="openModal()">Add Plan </a>
</div>
</div>
</div>

<div class="content table-responsive table-full-width">
<table class="table table-hover table-striped">
  <thead>
   <tr>
     <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
     </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gold</td>
      <td>30</td>
      <td>92 Days</td>
      <td>Rs.599</td>
      <td>
        <a class="btn btn-info btn-fill" (click)="openModal()">Edit</a>&nbsp;
        <a href="#" class="btn btn-danger  btn-fill">Delete</a>

      </td>
    </tr>
    <tr>
      <td>Gold</td>
      <td>30</td>
      <td>92 Days</td>
      <td>Rs.599</td>
      <td>
        <a href="#" class="btn btn-info btn-fill">Edit</a>&nbsp;
        <a href="#" class="btn btn-danger  btn-fill">Delete</a>

      </td>
    </tr>
    <tr>
      <td>Gold</td>
      <td>30</td>
      <td>92 Days</td>
      <td>Rs.599</td>
      <td>
        <a href="#" class="btn btn-info  btn-fill">Edit</a>&nbsp;
        <a href="#" class="btn btn-danger  btn-fill">Delete</a>

      </td>
    </tr>
  </tbody>
 </table>
</div>
</div>
</div>
</div>
</div>
</div>


<!-- Button trigger modal -->
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
         <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                     <div class="modal-header">
                           <h4 class="modal-title">Member Plan</h4>
                           <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                         </div>
                <div class="modal-body">
                  <form [formGroup]="planForm" (ngSubmit)="saveUserInFirestore()" >
                    
                    <div class="form-group">
                      <label for="plan" class="form-label">Plan</label>
                      <input formControlName="plan" class="form-control" >

                      <div *ngIf="planForm.get('plan')?.invalid && (planForm.get('plan')?.dirty || planForm.get('plan')?.touched)"
                     class="text-sm text-danger">
                    <div *ngIf="planForm.get('plan')!.hasError('required')">Field is required.</div>
                    </div>
              
                    </div>
                    <div class="form-group">
                      <label for="bookIssueLimit" class="form-label">Book Issue Limit</label>
                      <input formControlName="bookIssueLimit" class="form-control" >
              
                      <div *ngIf="planForm.get('bookIssueLimit')?.invalid && (planForm.get('bookIssueLimit')?.dirty || planForm.get('bookIssueLimit')?.touched)"
                      class="text-sm text-danger">
                     <div *ngIf="planForm.get('bookIssueLimit')!.hasError('required')">Field is required.</div>
                     </div>

                    </div>
                    <div class="form-group">
                      <label for="bookReturnPeriod" class="form-label">Book Return Period</label>
                      <input formControlName="bookReturnPeriod" class="form-control" >
                     
                      <div *ngIf="planForm.get('bookReturnPeriod')?.invalid && (planForm.get('bookReturnPeriod')?.dirty || planForm.get('bookReturnPeriod')?.touched)"
                     class="text-sm text-danger">
                    <div *ngIf="planForm.get('bookReturnPeriod')!.hasError('required')">Field is required.</div>
                    </div>

                    </div>
                    <div class="form-group">
                      <label for="price" class="form-label">Price</label>
                      <input formControlName="price" class="form-control">

                      <div *ngIf="planForm.get('price')?.invalid && (planForm.get('price')?.dirty || planForm.get('price')?.touched)"
                     class="text-sm text-danger">
                    <div *ngIf="planForm.get('price')!.hasError('required')">Field is required.</div>
                    </div>

                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                    <button type="button" id="cancel" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                  </form>
                         </div>

                     <!-- <div class="modal-footer">
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit">
                      </div>
                           <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                         </div> -->
            </div>
             </div>
 </div>





<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          
          <div class="col-md-8 col-md-offset-2">   
              <div class="card">
                  <div class="header">
                      <h4 class="title">Member Plan</h4>
                  </div>
                  <div class="content">
                    <form [formGroup]="planForm" (ngSubmit)="saveUserInFirestore()" >
                    
                      <div class="form-group">
                        <label for="plan" class="form-label">Plan</label>
                        <input formControlName="plan" class="form-control" >

                        <div *ngIf="planForm.get('plan')?.invalid && (planForm.get('plan')?.dirty || planForm.get('plan')?.touched)"
                       class="text-sm text-danger">
                      <div *ngIf="planForm.get('plan')!.hasError('required')">Field is required.</div>
                      </div>
                
                      </div>
                      <div class="form-group">
                        <label for="bookIssueLimit" class="form-label">Book Issue Limit</label>
                        <input formControlName="bookIssueLimit" class="form-control" >
                
                        <div *ngIf="planForm.get('bookIssueLimit')?.invalid && (planForm.get('bookIssueLimit')?.dirty || planForm.get('bookIssueLimit')?.touched)"
                        class="text-sm text-danger">
                       <div *ngIf="planForm.get('bookIssueLimit')!.hasError('required')">Field is required.</div>
                       </div>

                      </div>
                      <div class="form-group">
                        <label for="bookReturnPeriod" class="form-label">Book Return Period</label>
                        <input formControlName="bookReturnPeriod" class="form-control" >
                       
                        <div *ngIf="planForm.get('bookReturnPeriod')?.invalid && (planForm.get('bookReturnPeriod')?.dirty || planForm.get('bookReturnPeriod')?.touched)"
                       class="text-sm text-danger">
                      <div *ngIf="planForm.get('bookReturnPeriod')!.hasError('required')">Field is required.</div>
                      </div>

                      </div>
                      <div class="form-group">
                        <label for="price" class="form-label">Price</label>
                        <input formControlName="price" class="form-control">

                        <div *ngIf="planForm.get('price')?.invalid && (planForm.get('price')?.dirty || planForm.get('price')?.touched)"
                       class="text-sm text-danger">
                      <div *ngIf="planForm.get('price')!.hasError('required')">Field is required.</div>
                      </div>

                      </div>
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit">
                      </div>
                    </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>

  
  


<!-- 
<div class="container py-5">

   
    <div class="row text-center align-items-end">

      <div class="col-lg-4 mb-5 mb-lg-5">
        <div class="bg-blue p-5 rounded-lg shadow">
          <h1 class="h4 text-uppercase font-weight-bold mb-4">Basic</h1>
          <h2 class="h2 font-weight-bold">$100<span class="h3 text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul class="list-unstyled my-5 text-small text-left">

            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> 5 Books per month </li>

            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Issue book for 7 Days </li>

            <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i> <del> Download PDF </del></li>

            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i><del> Download EPUB </del></li>

            <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2 "></i> <del>Purchase book </del></li>

            <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i><del> Unlimited Books </del></li>

          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h4 text-uppercase font-weight-bold mb-4">Pro</h1>
          <h2 class="h2 font-weight-bold">$300<span class="h3 text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul class="list-unstyled my-5 text-small text-left font-weight-normal">

            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> 10 Books per month </li>

            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Issue book for 14 Days</li>
            
            <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Download PDF </li>
                
                <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Download EPUB </li>

            <li class="mb-3 text-muted ">
                    <i class="fa fa-times mr-2 "></i> <del> Purchase book </del></li>

            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2 "></i> <del> Unlimited Books </del></li>
            
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>
       
      <div class="col-lg-4">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h4 text-uppercase font-weight-bold mb-4">Enterprise</h1>
          <h2 class="h2 font-weight-bold">$600<span class="h3 text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i>Unlimited Books per month</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Issue book for Month </li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Download PDF </li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Download EPUB </li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Purchase book </li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Unlimited Books </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>

    </div>
    
  </div> -->


  