<!-- <div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-6.jpg)"></div>
    </div> -->
  
    <!-- <div class="panel"> -->
        <navbar-cmp></navbar-cmp>
        <!-- <div class="panel justify-content-center align-items-center" style="background-image: url(assets/img/sidebar-6.jpg)"> -->
           <router-outlet></router-outlet>
        <!-- </div> -->
        <footer class="fixed-bottom">
            <div >
                <footer-cmp></footer-cmp>
            </div>
        </footer>
    <!-- </div> -->

    

    
  <!-- </div> -->

<!-- 
  <div class="wrapper">
    <div class="navbar" data-color="blue" data-image="">
        <navbar-cmp></navbar-cmp>
        <div class="navbar-background" style="background-image: url(assets/img/sidebar-6.jpg)"></div>
    </div>
    <div class="panel-body"> 
        <router-outlet></router-outlet>
    </div>
       <div class="panel-footer">
          <footer-cmp></footer-cmp>
      </div>
  </div> -->
