
       <!-- <div class="panel panel-default" style="background-color: antiquewhite; max-width: 3000px; height: 000px;">
         <div class="panel-body">
          <router-outlet></router-outlet>
        </div> 
       </div> -->
   





        <!-- <navbar-cmp></navbar-cmp>
        <div class="mt-4">
           <router-outlet></router-outlet>
          </div>
        <footer class="fixed-bottom">
        </footer> -->

        <!-- <div class="panel panel-default">
          <div class="panel-body">A Basic Panel</div>
        </div> -->

        <!-- <div class="">
          <navbar-cmp></navbar-cmp>
          <router-outlet></router-outlet>
        </div> -->

        <!-- <div class="panel panel-default">
          <div class="panel-body">A Basic Panel</div>
        </div> -->

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

<!-- Modal -->
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->


        <!-- <div class="row" style="height: max-content;">
            <div class="col-lg-4 bg-dark">.col-sm-4</div>
            <div class="col-lg-4 bg-dark">.col-sm-4</div>
            <div class="col-lg-4 bg-dark">.col-sm-4</div>
          </div> -->

          <!-- <div class="wrapper">
            <div class="sidebar" data-color="blue" data-image="">
                <app-sidebar></app-sidebar>
                <div class="sidebar-background" style="background-image: url(assets/img/sidebar-6.jpg)"></div>
            </div>
          
            <div class="main-panel">
                <navbar-cmp></navbar-cmp>
                <router-outlet></router-outlet>
                <div>
                    <footer-cmp></footer-cmp>
                </div>
            </div>
          
          </div> -->


  

    <!-- <div class="row">

      <div class="col" > 
        <div class="panel panel-default" style="background-color: rgb(153, 219, 54); width: 1000px; height: 1000px;">
          <div class="panel-body">
           <h2 class="text-white text-uppercase text-center d-none d-sm-block m-0 mt-4 mb-1" style="color: black;">Smart Library</h2>
           <h5 class="text-white text-uppercase text-center d-block d-sm-none m-0 mt-2" style="color: black;">Smart Library</h5>
         </div> 
        </div>
      </div>
      

      <div class="col" > 
        <div class="panel panel-default" style="background-color: rgb(188, 89, 36); width: 1000px; height: 1000px;">
          <div class="panel-body">
           <router-outlet></router-outlet>
         </div> 
        </div>
      </div>

    </div> -->



    <div class="main-content" >
      <div class="container-fluid">
          
              
              <!-- <div class="col-lg-10">
                <div class="img" style="background-color: rgb(220, 219, 220); width: 970px; height: 870px; ">
                  <div class="">
                    <img src="assets/img/library.jpg" class="img-rounded" alt="Smart Library">
                    background-image: url(assets/img/library.jpg)"
                   <h2 class="text-white text-uppercase text-center d-none d-sm-block m-0 mt-4 mb-1" style="color: black;"></h2>
                 </div> 
                </div>
              </div> -->
  
  
              <!-- <div class="col">
                <div class="panel panel-default" style="background-color: rgb(42, 42, 56); width: 570px; height: 878px;">
                  <div class="panel-body">
                   <router-outlet></router-outlet>
                 </div> 
                </div>
              </div> -->

              <div class="row">

                <div class="col-sm-8" style="background-color: white; width: 961px; height: 874px;">
                  
                <img src="assets/img/library.jpg" class="img-rounded" alt="Smart Library" style="margin-top: 220px; margin-left: 100px; width: 640px;">
                  
                </div>
                <div class="col-sm-5" style="background-color: rgb(62, 88, 191); width: 784px; height: 874px;">
                  <div style="margin-top: 180px;"><router-outlet></router-outlet></div>
                </div>

              </div>
              
          
      </div>
  </div>


  

