<div class="main-content">  
  <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-13" style="margin-left: 10px; margin-right: 10px;">
  <div class="card">
  
  <div class="row">
  
  <div class="col-md-8 text-left">
  <div class="header">
  <h4 class="title"></h4>
  </div>
  </div>
                          
  <div class="col-md-4 text-right">
  <div class="header">
  <!-- <a class="btn btn-black  btn-fill" style="background-color: black;" (click)="openModal1()" > Add New Book </a> -->
  </div>
  </div>
  </div>
  
  <div class="content table-responsive table-full-width">
  <table class="table table-hover table-striped">
    <thead>
     <tr>
       <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of userData |async" >   
        <td>UserName</td>
        <td>{{data.title}}</td>
        <td>{{data.author}}</td>
        <td>02-01-2023</td>
        <td>22-01-2023</td>
      </tr>
    </tbody>
   </table>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  


  <!-- <p>
   <ngb-alert [dismissible]="false">
     <strong>Warning!</strong> Better check yourself, you're not looking too good.
   </ngb-alert>
 </p> -->