<div class="main-content">
  
    <!-- <div class="container-fluid">
        <div class="row">
        
        <div class="col-md-13" style="margin-left: 10px; margin-right: 10px;">
        <div class="card">
        
        <div class="row">
        
         <div class="col-md-8 text-left">
          <div class="col-md-4" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="search-box">
             <input type="search" class="form-control ds-input" id="search-input"
                    placeholder="Search..." autocomplete="off" spellcheck="false" role="combobox"
                    aria-autocomplete="list" aria-expanded="false"
                    aria-owns="algolia-autocomplete-listbox-0"
                    style="position: relative; vertical-align: middle;" dir="auto">
            </div>
        </div>
        </div>
                        
        <div class="col-md-4 text-right">
        <div class="header">
        <a class="btn btn-dark " style=" color: black; margin-bottom:12px;" (click)="openModal1()" > Add Book </a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>  -->
  
  
     <div class="container-fluid">
     <div class="row">
     
     <div class="col-md-13" style="margin-left: 10px; margin-right: 10px;">
     <div class="card">
     
     <div class="row">
     
     <div class="col-md-8 text-left">
     <div class="header">
     <h4 class="title"></h4>
     </div>
     </div>
                             
     <div class="col-md-4 text-right">
     <div class="header">
     <!-- <a class="btn btn-black  btn-fill" style="background-color: black;" (click)="openModal1()" > Add New Book </a> -->
     </div>
     </div>
     </div>
     
     <div class="content table-responsive table-full-width">
     <table class="table table-hover table-striped">
       <thead>
        <tr>
          <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
          </tr>
       </thead>
       <tbody>
         <tr>
           <td>User Name </td>
           <td>useremail1@gmail.com</td>
           <td>Gold</td>
           <td>02-04-2023</td>
           <td>Boks names, book 1, book 2, book 3, book 4</td>
           <td>14-12-2022</td>
           <td>
            <!-- <a href="" class="btn btn-danger btn-xs "> ADD </a> -->

            <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button> -->
                <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a> -->
               
           </td>
         </tr>
         <tr>
            <td>User Name </td>
            <td>useremail1@gmail.com</td>
            <td>Gold</td>
            <td>02-04-2023</td>
            <td>Boks names, book 1, book 2, book 3, book 4</td>
            <td>14-12-2022</td>
            <td>
                <!-- <a href="" class="btn btn-danger btn-xs "> ADD </a> -->
            </td>
        </tr>
        <tr>
            <td>User Name </td>
            <td>useremail1@gmail.com</td>
            <td>Gold</td>
            <td>02-04-2023</td>
            <td>Boks names, book 1, book 2, book 3, book 4</td>
            <td>14-12-2022</td>
            <td>
                <!-- <a href="" class="btn btn-danger btn-xs "> ADD </a> -->
            </td>
        </tr>
       </tbody>
      </table>
     </div>
     </div>
     </div>
     </div>
     </div>
     </div>
     
  
  
     