<div class="main-content">
   <div class="container-fluid">

    <!-- <div class="row ">

        <div class="col-md-3"> 
           <div class="container mt-3">
             <div class="card text-center" style="width:300px">
             <img class="card-img-top" src=".\assets\img\bk1.jpeg" alt="Card image" style="width:100%; height: 270px">
             <div class="card-body">
                <h5 class="card-title"><b>The Psychology of Money</b></h5>
                <p class="card-text">By Morgan Housel</p>
                <a href="#" class="btn btn-primary shadow rounded-pill">Buy</a>
             </div>
           </div>
         </div>
        </div>

       <div class="col-md-3">
         <div class="container mt-3">
           <div class="card text-center" style="width:300px">
             <img class="card-img-top" src=".\assets\img\bk2.jpeg" alt="Card image" style="width:100%; height: 270px">
             <div class="card-body">
             <h5 class="card-title"><b>Atomic Habits</b></h5>
             <p class="card-text">By James Clear</p>
             <a href="#" class="btn btn-secondary">See Profile</a>
             </div>
          </div>
         </div>
      </div>

      <div class="col-md-3">
         <div class="container mt-3">
           <div class="card text-center" style="width:300px">
             <img class="card-img-top" src=".\assets\img\bk3b.jpeg" alt="Card image" style="width:100% ; height: 270px">
             <div class="card-body">
                <h5 class="card-title"><b>Teach a child to love</b></h5>
                <p class="card-text">By Candace O. Andrews</p>
                      <a href="#" class="btn btn-secondary">See Profile</a>
             </div>
          </div>
         </div>
      </div>

      <div class="col-md-3">
         <div class="container mt-3">
           <div class="card text-center" style="width:300px">
             <img class="card-img-top" src=".\assets\img\bk3b.jpeg" alt="Card image" style="width:100% ; height: 270px">
             <div class="card-body">
                <h5 class="card-title"><b>Teach a child to love</b></h5>
                <p class="card-text">By Candace O. Andrews</p>
                  <a href="#" class="btn btn-secondary">See Profile</a>
             </div>
          </div>
         </div>
       </div>

      </div>
       -->
      
      <!-- <div class="row">

        <div class="col-md-3"> 
           <div class="container mt-3">
             <div class="card text-center" style="width:300px">
             <img class="card-img-top" src=".\assets\img\bk4a.jpeg" alt="Card image" style="width:100%; height: 270px" >
             <div class="card-body">
                <h5 class="card-title"><b>Beyond the triple bottom line</b></h5>
                <p class="card-text">By Francisco Szekely & Zahir Dossa</p>      
                <a href="#" class="btn btn-secondary">See Profile</a>
             </div>
           </div>
         </div>
        </div>

       <div class="col-md-3">
         <div class="container mt-3">
           <div class="card text-center" style="width:300px">
             <img class="card-img-top" src=".\assets\img\bk5b.jpeg" alt="Card image" style="width:100%; height: 270px;">
             <div class="card-body">
                <h5 class="card-title"><b>The power of your Subconscious mind</b></h5>
                <p class="card-text">By Joseph Murphy</p>     
                <a href="#" class="btn btn-secondary">See Profile</a>
             </div>
          </div>
         </div>
      </div>

      <div class="col-md-3">
         <div class="container mt-3">
           <div class="card text-center" style="width:300px">
             <img class="card-img-top" src=".\assets\img\bk6.jpeg" alt="Card image" style="width:100%; height: 270px">
             <div class="card-body">
                <h5 class="card-title"><b>Escalate</b></h5>
                <p class="card-text">By Kyle J.Brost</p>     
                <a href="#" class="btn btn-secondary">See Profile</a>
             </div>
          </div>
         </div>
      </div>

      <div class="col-md-3">
         <div class="container mt-3">
           <div class="card text-center" style="width:300px">
             <img class="card-img-top" src=".\assets\img\bk5b.jpeg" alt="Card image" style="width:100%; height: 270px;">
             <div class="card-body">
                <h5 class="card-title"><b>The power of your Subconscious mind</b></h5>
                <p class="card-text">By Joseph Murphy</p>     
                <a href="#" class="btn btn-secondary">See Profile</a>
             </div>
          </div>
         </div>
      </div>

      </div>
     -->
     <h1>home</h1>
              
    </div>
</div>
    