<div class="main-content">

  <!-- <div class="container mt-3">
    <div class="col-md-3"> 
       <div class="panel panel-default" style="width:250px; height: 70px;">
         <div class="panel-body"> 
          <h5 class="panel-title text-muted">BOOKS AVAILABLE</h5>
           <p class="panel-text">300</p></div> 
       </div>
    </div>
    <div class="col-md-3"> 
     <div class="panel panel-default" style="width:250px; height: 70px;">
       <div class="panel-body">
         <h5 class="panel-title text-muted">BOOKS IN INVENTORY</h5>
          <p class="panel-text">2,935</p></div> 
     </div>
  </div>
  <div class="col-md-3"> 
   <div class="panel panel-default" style="width:250px; height: 70px;">
     <div class="panel-body"> 
      <h5 class="panel-title text-muted">BOOKS ISSUED</h5>
      <p class="panel-text">790</p></div> 
   </div>
  </div>
  
      <div class="col-md-3">        
       <div class="panel panel-default" style="width:250px; height: 70px;">
         <div class="panel-body">
            <div class="row">
           <div class="col-md-8">   <h5 class="card-title">Add New Book</h5> </div>
           <div class="col-md-2">   
             <a (click)="openModal1()" class="btn btn-black  btn-fill" style="background-color: black ; font-size:large">+</a> 
           </div>
             </div>
             </div>
         </div>
       </div>    
 </div> -->

 <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-13" style="margin-left: 10px; margin-right: 10px;">
  <div class="card">
  
  <div class="row">
  
   <div class="col-md-8 text-left">
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="form-group has-feedback has-search">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search">
      </div>
  </div>
  </div>
                  
  <div class="col-md-4 text-right">
  <div class="header">
  <a class="btn btn-dark " style=" color: black; margin-bottom:12px;" (click)="openModal1()" > Add Book </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div> 


   <div class="container-fluid">
   <div class="row">
   
   <div class="col-md-13" style="margin-left: 10px;margin-right: 10px;">
   <div class="card">
   
   <div class="row">
   
   <div class="col-md-8 text-left">
   <div class="header">
   <h4 class="title"></h4>
   </div>
   </div>
                           
   <div class="col-md-4 text-right">
   <div class="header">
   <!-- <a class="btn btn-black  btn-fill" style="background-color: black;" (click)="openModal1()" > Add New Book </a> -->
   </div>
   </div>
   </div>
   
   <div class="content table-responsive table-full-width">
   <table class="table table-hover table-striped">
     <thead>
      <tr>
        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
        </tr>
     </thead>
     <tbody>
       <tr *ngFor = "let data of userData |async" >
         <td>{{data.title}}</td>
         <td>{{data.author}}</td>
         <td><span class="badge">{{ data.tags}}</span></td> 
         <td>{{data.price}}</td>
         <td>{{data.isbn}}</td>
         <td>{{data.quantity}}</td>
         <td>
          <a  class="glyphicon glyphicon-edit text-primary" (click)="editopenModal1()"></a>&nbsp;
          <a  class="glyphicon glyphicon-trash text-danger" (click)="deleteData(data.id)"></a>
         </td>
       </tr>
     </tbody>
    </table>
   </div>
   </div>
   </div>
   </div>
   </div>

   </div>
   

<!-- add modal -->
   <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-dialog-centered" role="document">       
        <div class="modal-content">
                   <div class="modal-body">
                    <div class="font-weight-bold">
                      <h4 class="h3 modal-title text-center ">Add New Book</h4>
                    </div>
                      <form [formGroup]="addbookform" (ngSubmit)="addBook()"> 

                        <div class="form-group mb-3">
                           <div class="row">

                           <div class="col-md-6">
                              <label class="control-label" for="title">Title</label>
                               <input type="text" class="form-control" id="title" formControlName="title"> </div> 
                              
                             <div class="col-md-6">
                              <label class="control-label" for="author">Author</label>
                              <input type="text" class="form-control" id="author" formControlName="author"></div>
                          </div>
                       </div>
                       <div class="form-group mb-3">
                        <label class="control-label" for="image">Cover Image</label>
                          <input type="file" class="inputFile" id="image" formControlName="coverimage" (change)="pickFile($event)" accept="image/png, image/jpeg">
                          <!-- <label class="custom-file-label" for="image">Choose cover image</label> -->
                        </div> 
                        <div class="form-group mb-3">
                        <div class="row">
                         <div class="col-md-4">
                           <label for="isbn" class="form-label m-0 mb-1">ISBN</label>
                           <input type="text" class="form-control" name="isbn" formControlName="isbn">
                         </div>
                         <div class="col-md-4">
                           <label for="quantity" class="form-label m-0 mb-1">Quantity</label>
                           <input type="text" class="form-control" name="quantity" formControlName="quantity">
                         </div>
                         <div class="col-md-4">
                           <label for="price" class="form-label m-0 mb-1">Price</label>
                           <input type="text" class="form-control" name="price" formControlName="price" placeholder="₹">
                         </div>
                       </div>
                       </div>

                       <div class="form-group mb-3">
                        <label class="control-label" for="tags">Tags</label>
                        <input type="text" class="form-control" id="tags" formControlName="tags"> </div>
                        <div class="form-group text-right">
                          <input type="submit" class="btn btn-info " value="Submit">&nbsp;
                          <button type="button" id="cancel" class="btn btn-danger " (click)="onCloseHandled()">Close</button>
                        </div>
                       </form>
                       </div>
              </div>
       </div>
    </div> 
    
<!-- edit modal -->
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':editDisplay}">
      <div class="modal-dialog modal-dialog-centered" role="document">       
          <div class="modal-content">
                     <div class="modal-body">
                      <div class="font-weight-bold">
                        <h4 class="h3 modal-title text-center ">Edit Book</h4>
                      </div>
                        <form [formGroup]="addbookform" > 
  
                          <div class="form-group mb-3">
                             <div class="row">
  
                             <div class="col-md-6">
                                <label class="control-label" for="title">Title</label>
                                 <input type="text" class="form-control" id="title" formControlName="title"> </div> 
                                
                               <div class="col-md-6">
                                <label class="control-label" for="author">Author</label>
                                <input type="text" class="form-control" id="author" formControlName="author"></div>
                            </div>
                         </div>
                         <!-- <div class="form-group mb-3">
                          <label class="control-label" for="file">Cover Image</label>
                          <input type="file" class="inputFile" id="file" (change)="upload($event)" accept="*.png.jpg."
                          formControlName="file" placeholder="Choose Image File"> 
                         <button type="button" click="uploadimage()"> Upload</button>
                         </div> -->
                          <div class="form-group mb-3">
                          <div class="row">
                           <div class="col-md-4">
                             <label for="isbn" class="form-label m-0 mb-1">ISBN</label>
                             <input type="text" class="form-control" name="isbn" formControlName="isbn">
                           </div>
                           <div class="col-md-4">
                             <label for="quantity" class="form-label m-0 mb-1">Quantity</label>
                             <input type="text" class="form-control" name="quantity" formControlName="quantity">
                           </div>
                           <div class="col-md-4">
                             <label for="price" class="form-label m-0 mb-1">Price</label>
                             <input type="text" class="form-control" name="price" formControlName="price" placeholder="₹">
                           </div>
                         </div>
                         </div>
  
                         <div class="form-group mb-3">
                          <label class="control-label" for="tags">Tags</label>
                          <input type="text" class="form-control" id="tags" formControlName="tags"> </div>
                          <div class="form-group text-right">
                            <input type="submit" class="btn btn-info " value="Submit">&nbsp;
                            <button type="button" id="cancel" class="btn btn-danger " (click)="editonCloseHandled()">Close</button>
                          </div>
                         </form>
                         </div>
                </div>
         </div>
      </div> 

   